<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- suppress noisy Spark/Hadoop logs -->
    <logger name="org.apache.spark" level="WARN"/>
    <logger name="org.apache.hadoop" level="WARN"/>
    <logger name="org.apache.hadoop.hive" level="ERROR"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="org.spark_project" level="ERROR"/>

    <!-- your app logs -->
    <logger name="com.tutorial.spark" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
